<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    
  <script src="/js/jquery.min.js"></script>
  {% include open-embed.html %}
  </body>

</html>
